*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	scroll-behavior: smooth;
}
a{
	text-decoration: none;
}

.btn{
	border: 1px solid lightgrey;
	padding: 7px 15px;
}
.btn:hover{
	background-color: orange;
}

.container{
	width: 90%;
	margin:auto;
}

.head-letter{
	text-transform: uppercase;
	font-weight: bolder;
}
nav a{
	text-transform: uppercase;
}

img{
	height: 120px;
	width:85%;
	transition: all ease-out 0.5s;
}

img:hover{
	height: 140px;
	width:100%;
}

.showcase{
	color: antiquewhite;
	min-height: 450px;
	background-image: url(../showcase.jpg);
	background-size: cover;
	background-position:80% 50%;
	background-repeat:no-repeat; 

}

.showcase2{
	color: antiquewhite;
	min-height: 250px;
	background-image: url(../rose.jpeg);
	background-size: cover;
	background-position:80% 50%;
	background-repeat:no-repeat; 

}

.showcase2s{
	color: antiquewhite;
	height: 57vh;
	background-image: url(../showcase2.jpg);
	background-size: cover;
	background-position:100% 100%;
	background-repeat:no-repeat; 

}

.showcase3{
	color: antiquewhite;
	min-height: 450px;
	background-image: url(../showcase3.jpeg);
	background-size: cover;
	background-position:40% 100%;
	background-repeatno-repeat; 

}
.showcase-b{
	background-color: rgba(0,0,0,0.45);
	margin-top:20px;
}

.borda-t{
	border-top: 1.5px gold solid;
}


.borda-b{
	border-bottom: 3px gold solid;
}

.d-grid{
	display: grid;
	grid-template-columns: 1.25fr 1.3fr;
	grid-gap: 0.5rem;
}

.d-grid2{
	display: grid;
	grid-template-columns: 1.2fr 2.3fr;
	grid-gap: 0.5rem;
}
.fom input{
	background-color:inherit;
}

.tainer{
	display: flex;
	justify-content: center;
	font-size: 1.1rem;
	font-weight: bolder;
	list-style-type: none;
	gap:20px;
}
.tainer li{
	animation-name: bubbly;
	animation-duration: calc(var(--i) * 2.3s);
	animation-fill-mode: forwards;
	animation-timing-function: ease;
	animation-delay: -1s;
	animation-iteration-count: infinite;
}

@keyframes bubbly{
	0%{opacity: 0;transform: scale(0);color: green;}
	70%{opacity: 1;transform: scale(1.3);color: teal}
	100%{opacity: 1;transform: scale(1);color: orange;}
}









